In [1]:
import pandas as pd
df = pd.DataFrame([[10, 15], [20, 25], [30, 35], [40, 45]],
columns=['a', 'b'])

In [2]:
df

    a   b
0  10  15
1  20  25
2  30  35
3  40  45

In [8]:
df['a']==20

0    False
1     True
2    False
3    False
Name: a, dtype: bool

In [23]:
df.drop(df[df['a'] == 30].index[0])

    a   b
0  10  15
1  20  25
3  40  45

In [34]:
df=df.append({
    'a':[1,2,3,4],
    'b':[50,60,70,80]
}, ignore_index=True)

/tmp/ipykernel_26176/3317059338.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append({

In [35]:
df

                  a                 b
0                10                15
1                20                25
2                30                35
3                40                45
4                 1                 2
5                 1                 2
6  [10, 20, 30, 40]  [50, 60, 70, 80]

In [1]:
import pandas as pd

In [2]:
final=pd.read_csv('final.csv')

In [8]:
final
corr=['لونی','لونی']

In [13]:
final=final.append({
        'final words':corr[0]
},ignore_index=True)

/tmp/ipykernel_6049/3660574733.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append({

In [14]:
final

  final words
0        لونی
1        لونی

In [101]:
df2= pd.read_csv('voices_unavailable.csv')
df2

      Unnamed: 0.3  Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0              word
0                0             0             0           0              لونی
1                1             1             1           1      بازار بَنانا
2                2             2             2           2               اَب
3                3             3             3           0   ِ اِحِْتشام دار
4                4             4             4           1          بندی جان
...            ...           ...           ...         ...               ...
6937          6937          6937          6937        1020        پرچہ نِگار
6938          6938          6938          6938        1021       پرچہ نَوِیس
6939          6939          6939          6939        1022     پَرْچی ڈالْنا
6940          6940          6940          6940        1023     پَرْچے کَرْنا
6941          6941          6941          6941        1024   پَرِچَے رَکْھنا

[6942 rows x 5 columns]

In [102]:
j=0
for i in df2['word']:
    df2['word'][j]=str(i).strip()
    j=j+1

df2.to_csv('voices_unavailable.csv')

/tmp/ipykernel_6049/406816552.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['word'][j]=str(i).strip()

In [89]:
df2['word'][0]

'لونی'

In [96]:
df2=df2.drop(df2.loc[df2['word']== 'لونی'].index.values)

In [98]:
df2

      Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0             word
1                1             1           1     بازار بَنانا
2                2             2           2              اَب
3                3             3           0  ِ اِحِْتشام دار
4                4             4           1         بندی جان
5                5             5           2              پَن
...            ...           ...         ...              ...
6937          6937          6937        1020       پرچہ نِگار
6938          6938          6938        1021      پرچہ نَوِیس
6939          6939          6939        1022    پَرْچی ڈالْنا
6940          6940          6940        1023    پَرْچے کَرْنا
6941          6941          6941        1024  پَرِچَے رَکْھنا

[6941 rows x 4 columns]

In [95]:
df2.loc[df2['word']== 'بازار بَنانا'].index.values

array([1])

In [82]:
df2['word']== ' لونی'

0        True
1       False
2       False
3       False
4       False
        ...
6937    False
6938    False
6939    False
6940    False
6941    False
Name: word, Length: 6942, dtype: bool

In [46]:
df2['word'][0]==' لونی'

True

In [28]:
df2

      Unnamed: 0.2  Unnamed: 0.1  Unnamed: 0              word
0                0             0           0              لونی
1                1             1           1      بازار بَنانا
2                2             2           2               اَب
3                3             3           0   ِ اِحِْتشام دار
4                4             4           1          بندی جان
...            ...           ...         ...               ...
6937          6937          6937        1020        پرچہ نِگار
6938          6938          6938        1021       پرچہ نَوِیس
6939          6939          6939        1022     پَرْچی ڈالْنا
6940          6940          6940        1023     پَرْچے کَرْنا
6941          6941          6941        1024   پَرِچَے رَکْھنا

[6942 rows x 4 columns]

In [16]:
a='''


'''

In [17]:
a

'\n\n\n'

In [18]:
x=a.split('\n')

In [19]:
len(x)

4

In [20]:
a.split('\n')[0]!=''

False